header{
  width: 100%;
  text-align: center;
  background-color: #01fade;
  font-size: 30px;
}

.content{
  margin: 0 auto;
  width: 1095px;
  height: 100vh;
}

/* TABLET */
@media (min-width: 792px) and (max-width: 1095px) {
  .content{
    width: 100%;
    height: 100%;

  }
}

/* MOBILE */
@media (max-width: 792px) {
  .content{
    width: 100%;
    height: 100%;

    margin: 0 auto;
  }
}
