<h2>Вы не авторизованы. Войдите, пожалуйста, в аккаунт:</h2>

<div class="login-form-wrapper">
  <div class="login-form">
    <div class="login-form-row">
      <label class="login-form-cell" for="login">логин:</label>
      <input class="login-form-cell" type="text" name="login" id="login" [formControl]="username">
    </div>
    <div class="login-form-row">
      <label class="login-form-cell" for="password">пароль:</label>
      <input class="login-form-cell" type="password" name="password" id="password" [formControl]="password">
    </div>

    <div class="login-form-row login-btn">
      <button (click)="login()">Войти</button>
    </div>
  </div>
</div>

<br>
<br>
<br>
У меня нет аккаунта -
<a href="/register">Создать</a>
